@charset "UTF-8";
/*Colors  Dark logo #506B75 light brown #D5C69D darkbrown #7E4E24*/

body {
	background-color: #FFFFFF;
	margin: 0%;
	padding: 0%;
	color: #7E4E24;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}


ul li {
	list-style: none;
	padding: 0%;
	margin: 0% 0.1875% 0% 0%;
	display: inline;
	font-family: Helvetica;
	color: #7E4E24;
	font-size: 0.75em;
	text-align:center;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 0.1875%;
	padding-left: 0.1875%;
	font-family: "Helvetica";
	
}

h2 {
	font-size: 1.0em;
}

a img { 
	border: none;
	
}
img {
	max-width: 100%;
	
}


.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 1.40%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 23.6%;
	background-color: #FFFFFF;
	margin: 0%;
	
	
}

.header p {
	text-indent: -79.3571428571429%;
	margin: 0%;
	padding: 0%;
	
}
nav {
	
	background-color: #fff;
	padding-top: 2px;
	padding-left: 12%;
	
}

.header {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}



a:link {
	color: #7E4E24;
	text-decoration: underline;
}
a:visited {
	color: #D5C69D;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #506B75;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 480px;
	background-color: #FFFFFF;
	margin: 0 auto;
	background-position: 0px 100px;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}
.content {
	background-image: url(../images/texturebackground.png);
	background-repeat: repeat-y;
	border-style: none;
	padding-left: 10%;
	padding-right: 10%;	
}

label {
	font-size: 0.625em;
	color: #D5C69D;
}

legend {
	color: #FFF;
	padding-left: 2%;
	background-image: url(../images/step1background.png);
	background-repeat: no-repeat;
	 
}
.content form {
	padding-left: 26%;
	padding-top: 2%;
	background-image: url(../images/bluebackdropstep3.png);
	background-repeat: no-repeat;
	
}

.content ul, .content ol {
	padding: 0 15px 0px 40px;
}
form p {
	font-size: 0.625em;
	color: #D5C69D;
}


 
@media screen and (min-width: 768px) and (max-width: 959px) {
/*.container{ background-color:#039;
	
}
*/
.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 1.0%;
	margin-top: 0;
	margin-bottom: 0;
}

.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 15.0%;
}
.content {
	background-image: url(../images/texturebackground.png);
	background-repeat: repeat-y;
	border-style: none;
	padding-left: 10%;
	padding-right: 10%;	
}

nav {
	
	background-color: #fff;
	padding-top: 2px;
	padding-left: 3%;
	
}



}
	
/*Mobile landscape size to Tablet Portrait size (Devices and Browsers)*/
@media screen and (min-width: 480px) and (max-width: 767px) {

/*.container{
	background-color: #0C6;
}
*/
#wecan {
	padding-top: 5%;
}	
	
}


.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 0.065%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 0.075%;
}
.content {
	background-image: url(../images/texturebackground.png);
	background-repeat: repeat-y;
	border-style: none;
	padding-left:5%;
	padding-right:5%;
	
}

nav {
	
	background-color: #fff;
	padding-top: 2px;
	padding-left: 2%;
	padding-right: 10%;
	
}
}


/*Mobile Portrait size to Mobile Landscape size (Devices and Browsers)*/
@media screen and (max-width: 479px) {
/*.container{
	background-color: #FC3;
}
*/
.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 0.065%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 0.075%;
}
.content {
	background-image: url(../images/texturebackground.png);
	background-repeat: repeat-y;
	border-style: none;
	padding-left:2%;
	padding-right:2%;
	
}

nav {
	
	background-color: #fff;
	padding-top: 2px;
	padding-left: 2%;
	padding-right: 10%;
	
}


}

	
