@charset "UTF-8";
/*Colors  Dark logo #506B75 light brown #D5C69D darkbrown #7E4E24*/

body {
	background-color: #FFFFFF;
	margin: 0%;
	padding: 0%;
	color: #7E4E24;
	font-family: "Helvetica", Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}


ul li {
	list-style: none;
	padding: 0%;
	margin: 0% 0.1875% 0% 0%;
	display: inline;
	font-family: Helvetica;
	color: #7E4E24;
	font-size: 0.75em;
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 0.1875%;
	padding-left: 0.1875%;
	font-family: "Petit Formal Script";
	
}

h1 {
	font-size: 1.3125em;
	
}

h2 {
	font-size: 1.0em;
}

a img { 
	border: none;
	
}
img {
	max-width: 100%;
	
}


.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 7.40%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 26.0%;
	
	
}
.photos {
	max-width: 100%;
	background-color: #FFF;
	padding-top: 0%;
	padding-left: 26.5%;
	padding-bottom: 2.5%;
	
}


.header p {
	text-indent: -79.3571428571429%;
	margin: 0%;
	padding: 0%;
	
}
nav {
	padding-left: 16.0%;
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 0;
	
}

.header {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

.logo {
	background-color: #FFFFFF;
	margin: 0%;
	padding: 0%;
}


a:link {
	color: #7E4E24;
	text-decoration: underline;
}
a:visited {
	color: #D5C69D;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #506B75;
}



.container {
	width: 80%;
	max-width: 1260px;
	min-width: 480px;
	background-color: #FFFFFF;
	margin: 0 auto;
	background-position: 0px 100px;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;

}


.content {
	padding: 2% 0% 12.5%;/*10px 0;*/
}


.content ul, .content ol {
	padding: 0 15px 0px 40px;
}
#slideshow {
	padding: 10px;
	margin: 0;
	
	
} 
#slideshow-caption{
	padding-left:0;
	margin:0;
	font-family:"Petit Formal Script",Helvetica, Verdana, Arial, sans-serif;
}
 
#slideshow img, #slideshow div {  
    padding: 10px;
    background-color: #D9E2E7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
    margin: 0; 
}

.contact {
	text-align: center;
	background-position: 2px;
}


@media screen and (min-width: 768px) and (max-width: 959px) {
.container{ background-color:#039;
	
}

.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 1.0%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 15.0%;
}
.photos {
	max-width: 100%;
	background-color: #FFF;
	padding-top: 12.5%; 
	padding-left: 10.0%;
	padding-bottom: 9.5%;
	padding-right: 10%; 
}

}
	
/*Mobile landscape size to Tablet Portrait size (Devices and Browsers)*/
@media screen and (min-width: 480px) and (max-width: 767px) {
.container{
	background-color: #0C6;		
	
}

.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 0.065%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 5.075%;
}
img {
	max-width: 100%;
	
}
nav {
	padding-left: 20%;
}
nav ul li{
	display:block;
	padding-left: 20%;
}
.container {
	width:80%;
}
.photos {
	max-width: 100%;
	background-color: #FFF;
	padding-top: 12.5%; /*100px;*/
	padding-left: 10.0%; /*256px;*/
	padding-bottom: 12.5%; /*100px;*/
}
}

/*Mobile Portrait size to Mobile Landscape size (Devices and Browsers)*/
@media screen and (max-width: 479px) {
.container{
	background-color: #FC3;
}

.header img {
	max-width: 100%;
	padding-right: 1.5%;
	padding-left: 0.065%;
	margin-top: 0;
	margin-bottom: 0;
}
.logo img {
	max-width: 100%;
	padding-top: 0.0625%;
	padding-left: 0.075%;
}

img {
	max-width: 100%;
	
}
nav {
	padding-left: 40%;
}
nav ul li{
	display:block;
}
.photos {
	max-width: 100%;
	background-color: #FFF;
	padding-top: 12.5%; /*100px;*/
	padding-left: 2.0%; /*256px;*/
	padding-bottom: 12.5%; /*100px;*/
}
.container{
	width: 50%;
}

}

	
